$NavPanel: 125px;
.content {
  display: flex;
  position: relative;
  top: 90px;
  right: 0;
  
  
  height: auto;
  padding: 10px;
  width: calc(100% - #{$NavPanel});
  background: #2b343b;
  border-left: 10px solid #2b343b;
  border-right: 10px solid #2b343b;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;

}
